@using SI2_TP.Models
@model SI2_TP.Models.Ocorrencia
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

@if(Model.estado == Estado.inicial)
{
    <h4>
        @Html.ActionLink("Adicionar áreas de intervenção","AddArea", new{idOcorr=Model.id})
    </h4>
}

<table>
    <tr>
        <th>
            Coordenador
        </th>
        <th>
            AreaIntervencao
        </th>
        <th>
            Desc
        </th>
        <th>
            Concluido
        </th>
    </tr>

@foreach (var item in Model.Trabalhos) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Coordenador)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AreaIntervencao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Desc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Concluido)
        </td>
        <td>
            @if(!item.Concluido)
            {
                @Html.ActionLink("Adicionar trabalhadores","ShowAvailableWorkers", new{idOcorr=@Model.id, areaInterv=item.AreaIntervencao})
            }
           
        </td>
    </tr>
}

</table>
