@model IEnumerable<SI2_TP.Models.Ocorrencia>

@{
    ViewBag.Title = "Index";
}

<h2>Ocurrencias</h2>

<p>
    @*@Html.ActionLink("Create New", "Create")*@
</p>
<table>
    <tr>
        <th>
            Ver em modo desligado
        </th>
        <th>
            Data e hora de entrada
        </th>
        <th>
            Data e hora da última alteração de estado
        </th>
        <th>
            Sector Instalacao
        </th>
        <th>
            Sector Piso
        </th>
        <th>
            Sector Zona
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <strong>@Html.ActionLink(item.id.ToString(), "Details","Ocorrencias", new{id= item.id} , null)</strong>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dataHoraEnt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dataHoraAct)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.secInst)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.secPiso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.secZona)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id })
        </td>
    </tr>
}

</table>
